<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h3 *ngIf="!isAuthenticated()">Bienvenido a Ecommerce</h3>
        <table *jhiHasAnyAuthority="'ROLE_USER'" class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.descripcion}}</td>
                    <th>
                        <button *ngIf="producto.cantidadInventario !== 0" type="button" class="btn btn-success" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
                        <p *ngIf="producto.cantidadInventario === 0">Producto agotado!</p>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
